<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap/css/style.css">
    <link rel="stylesheet" href="bootstrap/vendor/jquery-ui-1.11.2.custom/jquery-ui.min.css">
    <link rel="stylesheet" href="bootstrap/vendor/font-awesome-4.3.0/css/font-awesome.min.css">
    <title>イベントをつくる | ちょ〜すけサン</title>
  </head>
  <body role="document">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="./index.html"><small>スケジュール調整サービス</small> ちょ〜すけサン</a>
        </div>
      </div>
    </div>
    <div class="container theme-showcase" role="main">
      <div class="jumbotron">
        <h1>イベントをつくろう</h1>
        <p>簡単みんなのスケジュール調整ツール。 今日も効率よくスケジュールを決めましょう。</p>
      </div>
      <form role="form" action="schedule/newEvent/create.html" method="post">
        <div class="col-md-4">
          <div class="form-group">
            <label for="event">イベント名</label>&nbsp;
            <span class="label label-danger">必須</span><br>
            <small>※今期もお疲れ様でした飲み会、打ち合わせなど</small>
            <input type="text" class="form-control" required="" name="event.name" placeholder="イベント名を入力してください">
          </div>
          <div class="form-group">
            <label for="event">メモ</label>&nbsp;
            <span class="label label-default">任意</span><br>
            <small>※場所は◯◯を予定しています。など</small>
            <textarea class="form-control" name="event.memo" placeholder="任意でメモを入力できます" rows="10"></textarea>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="event">候補日程</label>&nbsp;
            <span class="label label-danger">必須</span><br>
            <small>
              ※候補日程／日時を入力してください<br>
              候補の区切りは改行で判断されます。<br>
              例:<br>
              8/7(月) 20:00～<br>
              8/8(火) 20:00～<br>
              8/9(水) 21:00～
            </small>
            <textarea id="schedule" required="" class="form-control" placeholder="候補日程を複数入力する場合は改行して指定します" rows="10"></textarea>
          </div>
        </div>
        <div class="col-md-4">
          <small>↓日付をクリックすると日程に日時が入ります。</small>
          <div id="datepicker"></div>
        </div>
        <div class="col-md-12">
          <button id="btn-submit" class="btn btn-success btn-lg col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2"><span class="glyphicon glyphicon-share" aria-hidden="true"></span> イベントをつくる</button>
        </div>
      </form>
    </div>
    <footer role="contentinfo">
      <div class="container">
        <p>powered by <a href="https://github.com/hws-wao/core"><i class="fa fa-github fa-fw"></i>WAO</a></p>
      </div>
    </footer>
    <!-- ファイルアップロード確認用のフォーム -->
    <script type="text/javascript" src="bootstrap/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="bootstrap/vendor/jquery-ui-1.11.2.custom/jquery-ui.min.js"></script>
    <script type="text/javascript" src="bootstrap/vendor/jquery-ui-1.11.2.custom/jquery.ui.datepicker-ja.js"></script>
    <script type="text/javascript">
<!--
'use strict';
/**
 *
 */
$(function() {
  /**
   * 複数行の無駄な改行を無くす
   */
  $.fn.cleanLine = function() {
    return this.each(function() {
      var d = ($(this).val())
        .replace(/\n[\n\s]?/g,'\n')
        .replace(/^[\n\s]+/,'')
        .replace(/[\n\s]+$/,'');
      $(this).val(d);
    });
  };
  // カレンダー(datepicker)の初期化処理
  $("#datepicker").datepicker({
    /**
     * カレンダーの日付がクリックされたときの処理
     */
    onSelect: function(dateText, inst) {
      // 選択された日付をテキストエリアに追加
      var d = $("#schedule").val()+'\n'+dateText;
      $("#schedule").val(d).cleanLine();
    }
  })// これ移行はdatepicker初期化のオプション指定
    // 出力形式："月/日(曜日) 19:00〜"
    .datepicker('option', 'dateFormat', 'm/d(D) 19:00〜')
    // 選択可能：本日以降
    .datepicker('option', 'minDate', '0d');
  /**
   * イベントをつくるボタンの処理
   */
  $('#btn-submit').click(function() {
    // 指定された日付(単なる文字列)を行単位に分割して配列で取得する
    var dates = $('#schedule').cleanLine().val().split(/\n|\r/);
    $('input[name="event.schedule.date"]').remove();
    $.each(dates, function() {
      (this=='')?void(0):$('form').append(
        // 日付指定のフォームを追加する
        $('<input type="hidden" name="event.schedule.date">').val(this)
      );
    });
  });
});
// -->
    </script>
  </body>
</html>

