<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../bootstrap/css/style.css">
    <link rel="stylesheet" href="../../bootstrap/vendor/font-awesome-4.3.0/css/font-awesome.min.css">
    <title>イベントつくったよ | ちょ〜すけサン</title>
  </head>
  <body role="document">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="../../index.html"><small>スケジュール調整サービス</small> ちょ〜すけサン</a>
        </div>
      </div>
    </div>
    <div class="container theme-showcase" role="main">
      <div class="jumbotron">
        <h1>イベントを作成しました</h1>
        <p>完成！今日も簡単みんなのスケジュール調整イベントがつくられちゃいました。</p>
      </div>
      <table class="table table-striped">
        <tbody>
          <tr>
            <th class="col-md-3">イベント名</th>
            <td data-wao-bind="event.name">イベント名</td>
          </tr>
          <tr>
            <th>メモ</th>
            <td data-wao-bind="event.memo">メモ</td>
          </tr>
          <tr>
            <th>候補日程</th>
            <td>
              <p data-wao-iterator="event.schedule" data-wao-bind="event.schedule.date">8/7(月) 20:00～</p>
              <p>8/8(火) 20:00～</p>
              <p>8/9(水) 21:00～</p>
            </td>
          </tr>
        </tbody>
      </table>
      <a href="../list.html?event.id=" id="detailLink" class="btn btn-success btn-lg col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2">イベントページを表示</a>
    </div>
    <footer role="contentinfo">
      <div class="container">
        <p>powered by <a href="https://github.com/hws-wao/core"><i class="fa fa-github fa-fw"></i>WAO</a></p>
      </div>
    </footer>
    <script type="text/javascript" src="../../bootstrap/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="../../bootstrap/js/bootstrap.min.js"></script>
    <script data-wao="remove" type="text/javascript" src="../../_LOCAL/bind-data.js"></script>
    <script data-wao="remove" type="text/javascript" src="../../_LOCAL/wao-bind.js"></script>
    <script type="text/javascript">
$(function(){
  $('html').wao_bind({
    'bindData' : {
      '_DB'   : _DB,
      '_FILE' : _FILE
    }
  });
});
    </script>
  </body>
</html>