<html>
  <head>
    <title>ファイル操作サンプル</title>
  </head>
  <body>
    <h1>ファイル操作サンプル</h1>
    WAOでファイルを操作するサンプルです。
    <h2>ファイルアップロード</h2>
    <h3>アップロード先のファイルパスを指定したファイルアップロード</h3>
    /templates/fileupload/sample.png にファイルをアップロードする。
    <a href="/fileupload/sample.png" >アップロードする場所のリンク</a>
    <form method="post" enctype="multipart/form-data">
      <input type="file" name="_FILE./templates/fileupload/sample.png" />
      <input type="hidden" name="_FILE" value="/bbbb/bbb/n.png" />
      <button type="submit">アップロード</button>
    </form>

    /hidden/fileupload/sample.png にファイルをアップロードする。
    <form method="post" enctype="multipart/form-data">
      <input type="file" name="_FILE.{file_path}" />
      <button type="submit">アップロード</button>
    </form>

    <form method="post">
      <input type="hidden" name="_FILE" value="/aaaa/bbb" />
      <input type="hidden" name="_method" value="delete" />
      <button type="submit">アップロード</button>
    </form>

    <h2>ファイル削除</h2>
    /templates/fileupload/sample.png を消す。<br />
    <a href="/fileupload/sample.png" >消すファイルが有る場所のリンク</a>
    <form method="post">
      <input type="hidden" name="_FILE" value="/templates/fileupload/sample.png" />
      <input type="hidden" name="_method" value="delete" />
      <button type="submit">ファイル削除</button>
    </form>

    <h2>ディレクトリ削除</h2>
    /templates/fileeesss を消す。<br />
    <form method="post">
      <input type="hidden" name="_FILE" value="/templates/fileeesss" />
      <input type="hidden" name="_method" value="delete" />
      <button type="submit">ファイル削除</button>
    </form>
  </body>
</html>
