<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../bootstrap/css/style.css">
    <link rel="stylesheet" href="../bootstrap/vendor/font-awesome-4.3.0/css/font-awesome.min.css">
    <title>出欠確認 | ちょ〜すけサン</title>
  </head>
  <body role="document">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="../index.html"><small>スケジュール調整サービス</small> ちょ〜すけサン</a>
        </div>
      </div>
    </div>
    <div class="container" role="main">
      <div class="container">
        <h2><span data-wao-bind="event.name">イベント名</span>の出欠確認</h2>
        <hr>
        <h3><i class="fa fa-exclamation-circle fa-fw"></i>memo</h3>
        <p id="memo" data-wao-bind="event.memo">忘年会</p>
        <h3>日にち候補</h3>
        <p>
          <del>※各自の出欠状況を変更するには名前のリンクをクリックしてください。</del>
          <span class="text-danger">未対応です</span>
        </p>
      </div>
      <div class="table-responsive container">
        <table class="table">
          <thead>
            <tr>
              <th>名前</th>
              <th data-wao-iterator="event.schedule" data-wao-bind="event.schedule.date">11/21(水) 19:00〜</th>
              <th>11/23(金) 19:00〜</th>
              <th>11/23(金) 19:00〜</th>
              <th data-wao="keep">コメント</th>
            </tr>
            <tr data-wao-iterator="event.entry">
              <td data-wao-bind="event.entry.name">
                <a>中村</a>
              </td>
              <td data-wao-iterator="event.entry.schedule"><i data-wao-bind-class="event.entry.schedule.reply|replyClass" class="fa fa-circle text-success"></i></td>
              <td><i class="fa fa-warning text-warning"></i></td>
              <td><i class="fa fa-remove text-danger"></i></td>
              <td data-wao-bind="event.entry.comment">たくさん飲みます</td>
            </tr>
            <tr>
              <td>
                <a>中村</a>
              </td>
              <td><i class="fa fa-circle text-success"></i></td>
              <td><i class="fa fa-warning text-warning"></i></td>
              <td><i class="fa fa-remove text-danger"></i></td>
              <td>たくさん飲みます</td>
            </tr>
          </thead>
        </table>
      </div>
      <div class="container">
        <button id="btn-open" class="btn btn-success btn-lg col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2"><i class="fa fa-edit fa-fw"></i>出欠を入力する</button>
      </div>
      <!-- 出欠を入力する  -->
      <form role="form" id="scheduleForm" action="../schedule/list.html?event.id=" method="post">
        <div id="reply" class="container hidden" aria-hidden="true">
          <h2>出欠を入力する</h2><br>
          <div class="col-md-4">
            <div class="form-group">
              <label>表示名</label><br>
              <small>個人が特定し得る内容は入力しないでください。</small>
              <input type="text" required="" class="form-control" name="event.entry.name">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>日にち候補</label>
              <table id="replys">
                <tbody>
                  <tr data-wao-iterator="event.schedule">
                    <td nowrap="nowrap" data-wao-bind="event.schedule.date">11/21(水) 19:00〜</td>
                    <td class="btn-group" data-toggle="buttons" role="group">
                      <div class="btn btn-default active">
                        <input type="radio"><i class="fa fa-circle text-muted"></i>
                      </div>
                      <div class="btn btn-default">
                        <input type="radio"><i class="fa fa-warning text-muted"></i>
                      </div>
                      <div class="btn btn-default">
                        <input type="radio"><i class="fa fa-remove text-muted"></i>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td nowrap="nowrap">11/21(水) 19:00〜</td>
                    <td class="btn-group" data-toggle="buttons" role="group">
                      <div class="btn btn-default active">
                        <input type="radio"><i class="fa fa-circle text-muted"></i>
                      </div>
                      <div class="btn btn-default">
                        <input type="radio"><i class="fa fa-warning text-muted"></i>
                      </div>
                      <div class="btn btn-default">
                        <input type="radio"><i class="fa fa-remove text-muted"></i>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td nowrap="nowrap">11/21(水) 19:00〜</td>
                    <td class="btn-group" data-toggle="buttons" role="group">
                      <div class="btn btn-default active">
                        <input type="radio"><i class="fa fa-circle text-muted"></i>
                      </div>
                      <div class="btn btn-default">
                        <input type="radio"><i class="fa fa-warning text-muted"></i>
                      </div>
                      <div class="btn btn-default">
                        <input type="radio"><i class="fa fa-remove text-muted"></i>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>コメント</label><br>
              <small>個人が特定し得る内容は入力しないでください。</small>
              <input type="text" class="form-control" name="event.entry.comment" value="">
            </div>
          </div>
          <button id="btn-submit" class="btn btn-success btn-lg col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">更新する</button>
        </div>
        <input type="hidden" name="event.id" data-wao-bind-vaule="event.id">
      </form>
    </div>
    <footer role="contentinfo">
      <div class="container">
        <p>powered by <a href="https://github.com/hws-wao/core"><i class="fa fa-github fa-fw"></i>WAO</a></p>
      </div>
    </footer>
    <script src="../bootstrap/js/jquery-1.11.1.min.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>
    <script data-wao="remove" type="text/javascript" src="../_LOCAL/bind-data.js"></script>
    <script data-wao="remove" type="text/javascript" src="../_LOCAL/wao-bind.js"></script>
    <script data-wao="remove" type="text/javascript">
$(function(){
  $('html').wao_bind({
    'bindData' : {
      '_DB'   : _DB,
      '_FILE' : _FILE,
      '_USR'  : _USR
    }
  });
});
    </script>
    <script type="text/javascript">
$(function(){
  $('#btn-open').click(function(){
    $(this).hide();
    $('#reply').hide().removeClass('hidden')
      .attr('aria-hidden', null).slideDown();
  });
  $('#btn-submit').click(function() {
    $('input[name="event.entry.schedule.reply"]').remove();
    $('td.btn-group').each(function() {
      var v;
      $(this).find('div.btn').each(function(idx){
        $(this).hasClass('active')?v=1-idx:void(0);
      });
      $('form').append(
        $('<input type="hidden" name="event.entry.schedule.reply">').val(v)
      );
    });
  });
});
    </script>
  </body>
</html>
